.addform {
    position: fixed;
    top: 25%;
    left: 25%;
    width: 50%;
    background-color: white;
    margin: auto;
    padding-top: auto;
    padding: 10px;
    border: 10 solid black;
    text-align: center;
}

.textfield {
    width: 100%;
}

.buttons {
    align-content: right;
}